# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Environment variables
.env

# System Files
.DS_Store
Thumbs.db

# MongoDB files (if you have local files)
*.lock

# IDE or editor files
.idea/
*.swp
.vscode/
out/
